.navbar {
  background-color: #a13034;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.btnReservation {
  justify-content: center;
  padding: 10px 30px;;
}
@media screen and (max-width: 768px){
  .btnReservation{
      justify-content: start;
      padding: 5px 20px 10px 0
  }
  .btnReservation:hover{
      padding: 10px 20px
  }
}
